<!--部分テンプレートにする-->
<h1>User info</h1>
<%= image_tag @user.get_profile_image, size:"100x100" %>
<table class="table">
  <tbody>
      <tr>
          <th>name</th><td><%= @user.name %></td>
      </tr>
      <tr>
          <th>introduction</th><td><%= @user.introduction %></td>
      </tr>
  </tbody>
</table>
<h5><%= link_to "setting", edit_user_path %></h5>

<h1>New Book</h1>
<%= form_with model: @book do |f| %>
  <p>Title</p>
    <%= f.text_field :title %>
  <p>Opinion</p>
    <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
 <% end %>
 
<h1>Books</h1>
<% @books.each do |book| %>
<table class="book-index">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= image_tag @user.get_profile_image, size:"80x80" %></th>
      <th><%= link_to book_path(book.id) do %> <%= book.title %><% end %></th>
      <th><%= book.body %></th>
    </tr>
  </tbody>
</table>
<% end %>